@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greconian";
  src: url("../fonts/Greconian.ttf");
}

.font-greco {
  font-family: "Greconian", sans-serif;
}

html, body{
  color: #000;
  width: 100%;
  height: 100%;
}