@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}	


html, body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body{
  padding-top: 94px;
}

textarea{
  resize: none;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

.button{
  @apply bg-emerald-500 text-white font-bold py-2 px-4 rounded-lg transition hover:bg-emerald-700
}

.input-form{
  @apply border rounded-md p-2 outline-emerald-500
}

.label-form{
  @apply mt-3 mb-2
}

.center-modal{
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

.skeleton-color{
  @apply bg-zinc-400
}

.alert-form{
  @apply text-red-500 text-sm mt-1
}